@charset "UTF-8"
@font-face
    font-family: "aoicon"
    font-weight: normal
    font-style: normal
    src: url('../fonts/aoicon.woff2?h00xze') format('woff2'), url('../fonts/aoicon.woff?h00xze') format('woff'), url('../fonts/aoicon.ttf?h00xze') format('truetype'), url('../fonts/aoicon.svg?h00xze#aoicon') format('svg')

.aoicon
    font-family: 'aoicon' !important
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.aoicon-marker:before
    content: "\e900"

.aoicon-order:before
    content: "\e901"

.aoicon-store:before
    content: "\e902"