.autocomplete-suggestions
  border: 1px solid $c-light
  background: $c-white
  overflow: auto

.autocomplete-suggestion
  padding: 15px 10px
  white-space: nowrap
  overflow: hidden

.autocomplete-selected
  background: $c-body

.autocomplete-suggestions strong
  font-weight: normal
  color: $c-success

  .autocomplete-group
    padding: 2px 5px

.autocomplete-group strong
  display: block
  border-bottom: 1px solid $c-black