$c-error: #ff4850
$c-dark: #383636
$c-light: #9e9e9e
$c-lighter: #e1e1de
$c-success: #43CA6C
$c-warning: #f1a82c
$c-white: #fff
$c-trans: transparent
$c-dash-menu: #e9e9e9
$c-green: #16ad60
$c-body: #f5f5f5
$c-badge: #f6ac1b
$c-black: #000
$c-blue-dark: #414c5f
$c-blue-light: #5c6d86
$c-gray-blue: #656f7f
$c-body-light: #f2f2f2
$c-gray-light: #dddcdc
$c-gray-dark: #979797
$c-sky-blue: #44a6dd
$c-blue: blue
$c-gold: #fcc42b
$c-orange: #f6871e

// Background Colors
.c-b-menu
  background-color: $c-dark

.c-b-success
  background-color: $c-success

.c-b-warning
  background-color: $c-warning

.c-b-trans
  background-color: $c-trans

.c-b-dash-menu
  background-color: $c-dash-menu

.c-b-body

  background-color: $c-body

.c-b-badge
  background-color: $c-badge

.c-t-gold
  color: $c-gold

.c-b-active
  background-color: $c-blue-light

.c-b-gray-light
  background-color: $c-gray-light

.c-b-blue-light
  background-color: $c-sky-blue

.c-b-green
  background-color: $c-green

// Border Colors
.c-bo-trans
  border-color: $c-trans

// Text Colors
.c-t-white
  color: $c-white

.c-t-dark
  color: $c-dark

.c-t-light
  color: $c-light

.c-t-success
  color: $c-success

.c-t-error
  color: $c-error

.c-t-warning
  color: $c-warning

.c-t-gold
  color: $c-badge

.c-t-gray-dark
  color: $c-gray-dark

.c-t-blue-light
  color: $c-blue-light

.c-t-blue-sky
  color: $c-sky-blue

.filter-grayscale
  filter: grayscale(100%)
  -webkit-filter: grayscale(100%)