.c-b-menu {
  background: #383636; }

.c-b-success {
  background: #43CA6C; }

.c-t-white {
  color: #ffffff; }

.c-t-dark {
  color: #383636; }

.c-t-light {
  color: #9e9e9e; }

/*# sourceMappingURL=colors.css.map */
