//Using Font Awesome
@import "colors"
$button-anim-duration: 0.5s
input[type=radio].with-font, input[type=checkbox].with-font
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

input[type=radio].with-font ~ label:before
  font-family: FontAwesome
  display: inline-block
  content: "\f1db"
  letter-spacing: 10px
  font-size: 1.2em
  color: #535353
  width: 1.4em

input[type=radio].with-font:checked ~ label:before
  content: "\f192"
  font-size: 1.2em
  color: $c-green
  letter-spacing: 5px

//input[type=checkbox].with-font:checked ~ label:before
  content: "\f192"
  font-size: 1.2em
  color: $c-green
  letter-spacing: 5px

input[type=checkbox].with-font ~ label:before
  font-family: FontAwesome
  display: inline-block
  content: "\f096"
  letter-spacing: 10px
  font-size: 1.2em
  color: #535353
  width: 1.4em

input[type=checkbox].with-font:checked ~ label:before
  content: "\f046"
  color: $c-green

//Using Buttons like style

input[type=radio].with-button
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

/**input[type=radio].with-button ~ label:before
  display: inline-block
  //content: "\f1db"
  letter-spacing: 10px
  font-size: 1.2em
  color: #535353
  width: 1.4em

input[type=radio].with-button ~ label
  background: $c-lighter
  padding: 15px 20px
  transition-duration: $button-anim-duration
  cursor: pointer

input[type=radio]:disabled ~ label,  input[type=checkbox]:disabled ~ label
  cursor: not-allowed

input[type=radio].with-button:checked ~ label
  background: $c-green
  color: $c-white

input[type=radio].with-button:checked ~ label:after
  font-family: "FontAwesome"
  content: "\f00c"
  color: $c-white
  padding-left: 10px
  font-size: 1.5em






