// Variables

$white: #fff
$black: #000
$gold: #ffbd1f
$grey: #505050
$brand: #5c6d86
$success: #51bd3c
$primary: #25a8ec
$secondary: #a3a4a4

// Main

html,
body
    height: 100%
    width: 100%
    overflow-x: hidden
    box-sizing: border-box
    margin: 0
    padding: 0
    color: $white
    font-family: 'Roboto', sans-serif

html *
    box-sizing: inherit

a
    color: inherit
    text-decoration: none

a:focus
    outline: thin dotted
    outline: 5px auto -webkit-focus-ring-color
    outline-offset: -2px

small
    font-weight: 200

// Form

fieldset
    min-width: 0
    padding: 0
    margin: 20px 0 0
    border: 0

label
    display: block
    max-width: 100%
    margin-bottom: 5px
    font-weight: bold

input[type="radio"]
    margin: 4px 0 0
    margin-top: 1px\9
    line-height: normal

button,
input,
textarea
    margin: 0
    font: inherit

textarea
    width: 100%
    padding: 10px 17px

.btn
    display: inline-block
    padding: 7px 20px
    margin-bottom: 0
    font-size: 14px
    font-weight: normal
    line-height: 1.42857143
    text-align: center
    white-space: nowrap
    vertical-align: middle
    -ms-touch-action: manipulation
        touch-action: manipulation
    cursor: pointer
    -webkit-user-select: none
        -moz-user-select: none
            -ms-user-select: none
                user-select: none
    background-image: none
    border: 1px solid transparent

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus
    outline: thin dotted
    outline: 5px auto -webkit-focus-ring-color
    outline-offset: -2px

.btn:hover,
.btn:focus,
.btn.focus
    color: inherit
    text-decoration: none

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn
    cursor: not-allowed
    filter: alpha(opacity=65)
    -webkit-box-shadow: none
        box-shadow: none
    opacity: .65

// Color

.c-b-brand
    background-color: $brand

.c-b-white
    background-color: $white

.c-b-primary
    background-color: $primary

.c-b-secondary
    background-color: $secondary

.c-t-white
    color: $white

.c-t-grey
    color: $grey

.c-t-success
    color: $success

// Utility

.pull-left
    float: left

.pull-right
    float: right

.center-block
    display: block
    margin-right: auto
    margin-left: auto

.clearfix:after,
.clearfix:before
    display: table
    content: " "

.clearfix:after
    clear: both

.hidden
    display: none

.pad-20
    padding: 20px

.pad-b-40
    padding-bottom: 40px

.mrgn-20
    margin: 20px

.mrgn-t-0
    margin-top: 0

// Text

.text-uppercase
    text-transform: uppercase

.text-center
    text-align: center

.text-left
    text-align: left

.text-normal
    font-weight: 400

// Image

img
    vertical-align: middle

.img-responsive
    display: block
    max-width: 100%
    height: auto

// Icon

.icon-call
    height: 45px
    width: 45px
    display: block

.icon-call:before
    content: ""
    display: inline-block
    background: url("../images/icon-call.svg") center center no-repeat
    background-size: 20px 20px
    height: 100%
    width: 100%

.icon-rounded
    border-radius: 50%

// Media

.media
    margin-top: 15px

.media:first-child
    margin-top: 0

.media,
.media-body
    overflow: hidden
    zoom: 1

.media-body
    width: 10000px

.media-object
    display: block

.media-object
    .img-thumbnail
        max-width: none

.media-right,
.media > .pull-right
    padding-left: 10px

.media-left,
.media > .pull-left
    padding-right: 10px

.media-body,
.media-left,
.media-right
    display: table-cell
    vertical-align: top

.media-middle
    vertical-align: middle

.media-bottom
    vertical-align: bottom

.media-heading
    margin-top: 0
    margin-bottom: 5px

.media-list
    padding-left: 0
    list-style: none

// Page

.customer-app
    background: #222 url('../images/customer-app.jpg') top center
    background-size: cover

.main-container,
.header
    max-width: 480px

.header
    padding: 15px

.header h1
    font-size: 9px

.header img
    height: 25px

.main-container h2
    font-size: 21px
    margin-bottom: 0

.main-container small
    font-size: 18px

.main-container strong
    font-size: 28px

.main-container .stronger
    font-size: 48px

.main-container section
    margin-top: 40px

.main-container section + section
    margin-top: 50px

.main-container .media strong
    font-size: 22px

.main-container .media small
    font-size: 13px
    font-weight: 800

.main-container .btn + .btn
    margin-left: 20px

.main-container textarea
    background-color: rgba(255,255,255,0.2)
    border-color: transparent

