
textarea.form-control
  resize: none

.form-control.error
  border-color: $c-error

input.form-control.input-lg, select.form-control.input-lg
  height: 60px

input.form-control, select.form-control, textarea.form-control
  border-width: 2px

input.form-control:focus, select.form-control:focus, textarea.form-control:focus
  box-shadow: none

input:not(.error).form-control:focus
  border-color: $c-success

.form-group.floating
  display: flex
  height: 62px
  margin-bottom: 30px
  .control-label
    font-size: 16px
    font-weight: 500
    pointer-events: none
    position: absolute
    transform: translate3d(0, 22px, 0) scale(1)
    transform-origin: left top
    transition: 240ms
    padding-left: 15px
    color: $c-light
    z-index: 1
  .form-control
    align-self: flex-end
  .form-control::-webkit-input-placeholder
    color: transparent
    transition: 240ms

textarea.form-control::-webkit-input-placeholder
  font-size: 16px
  font-weight: 300
  color: $c-light

.form-group.floating.focused .control-label
  opacity: 1
  transform: scale(0.9)
  padding-left: 0
  margin-top: -18px

.form-control:focus::-webkit-input-placeholder
  transition: none

.form-group.focused .form-control::-webkit-input-placeholder
  color: $c-light
  font-weight: 300
  font-size: 14px
  opacity: 0.7

.btn-ao-input
  border: 2px solid #ccc
  background: $c-white
  margin-top: -14px
  padding: 17px 16px
  color: $c-light
  font-size: 16px
  font-weight: 500

.inline-select
  .btn-ao-input
    padding: 6px 12px
    margin-top: 0
    font-size: 14px
    font-weight: 400
    color: #555

// Order Form specific fixes

.order-form input.form-control.input-lg, .order-form select.form-control.input-lg
  height: 50px
  font-size: 16px

.order-form .form-group.floating
  height: 55px
  margin-bottom: 27px

.order-form .form-group.floating.focused .control-label
  margin-top: -15px

.order-form textarea.form-control
  border-radius: 0