@media (max-width: 1200px)

@media (max-width: 970px)

@media (max-width: 768px)
  .navbar-ao
    .navbar-toggle
      margin-top: 20px
      margin-bottom: 20px
    .navbar-nav
      li
        a
          padding: 15px

  .separator
    .pv110
      padding-top: 0!important
      padding-bottom: 15px !important

  .separator-fx-div
    padding-left: 15px

@media (max-width: 480px)