.navbar-ao
  border-width: 0
  border-radius: 0
  .navbar-toggle
    margin-top: 20px
    margin-bottom: 20px
  .navbar-nav
    li
      a
        color: $c-white !important
        padding: 23px 15px


.navbar-ao-dashboard
  border-width: 0
  border-radius: 0
  //box-shadow: 04px 0px 5px $c-light
  .navbar-nav
    li,
    li.active
      border-right: 1px solid #d8d8d8
      a
        padding: 25px 1.5625em 15px
        font-size: 1.1428571428571428em
        line-height: 2.142857142857143em
        min-height: 85px
        color: $c-green
      a:hover
        background: $c-green
        color: $c-white
    .count-block,
    .count-block.active
      border: 1px solid #d8d8d8
      border-radius: 7px
      line-height: 20px
      padding: 10px 1.0714285714285714em
      margin-left: 2.5em
      text-transform: uppercase
      width: 16.785714285714285em
      text-align: center
      position: relative
      top: 45%  
      transform: translateY(-45%)
      strong
        font-size: 2.142857142857143em
        // margin-right: 0.5em
        display: block
      p
        font-size: 0.9285714285714285em
    &.count-list
      .dropdown-menu
        li,
        li.active
          a
            padding: 1px 15px
            color: $c-dark
            &:hover
              background-color: $c-gray-light
              color: $c-dark
        li.active
          a
            background-color: $c-gray-dark
            color: #fff

    .dropdown-menu
      li
        a
          padding: 15px
          min-height: unset
  .navbar-nav:last-child li:last-child
    border-right: 0
  .navbar-brand
    height: auto
    strong
      font-size: 1.1666666666666665em
      letter-spacing: 0.022222222222222223em
      color: $c-dark
    small
      font-size: 0.85em

@media (max-width: 1740px)
  .navbar-ao-dashboard
    .navbar-nav
      font-size: 12px
    .navbar-brand
      font-size: 16px

@media (max-width: 1540px)
  .navbar-ao-dashboard
    .navbar-nav
      font-size: 11px
      .count-block
        margin-left: 1.5em
    .navbar-brand
      font-size: 14px

@media (max-width: 1400px)
  .navbar-ao-dashboard
    .navbar-nav
      font-size: 10px
    .navbar-brand
      font-size: 10px

@media (max-width: 1280px)
  .navbar-ao-dashboard
    .navbar-nav
      font-size: 9px
      li
        a
          font-size: 1em
    .count-block
      strong
        font-size: 1em
    .navbar-brand
      font-size: 9px