.sidebar
  height: 100%
  float: left
  background: #363f4f
  position: fixed
  left: 0
  top: 0
  overflow-y: auto
  transition: all ease-in-out 500ms
  z-index: 100
  &[data-menu='lg']
    width: 300px
    .nav-sidebar
      >li
        .nav-sidebar-list
          max-height: 252px
          opacity: 1
          transform: scale(1)
          transform-origin: top center
          transition: 500ms transform, 500ms max-height, 500ms opacity
        a
          span
            display: inline-block
            opacity: 1
      li.closed
        .nav-sidebar-list
          transform: scale(1,0)
          max-height: 0
          opacity: 0.5
  &[data-menu='sm']
    width: 80px
    .nav-sidebar
      >li
        .nav-sidebar-list
          display: none
        a
          padding: 15px 10px
          span
            opacity: 0
            display: none
  &[data-menu='hidden']
    width: 0
    *
      display: none
  .nav-sidebar
    li
      .collapse
        background: #363f4f
        width: 100%
        a
          padding: 20px 50px
      a
        display: block
        text-decoration: none
        padding: 20px 25px
        font-size: 16px
        color: #96989e
        border-bottom: 1px solid #505563
        border-radius: 0
        &:hover, &:focus
          background: rgba($c-blue-light, 0.5)

        i.fa
          // padding-right: 15px
          // padding-left: 15px
          width: 55px
          text-align: center
      &:last-child a
        //border-width: 0
      &.active
        a
          background: $c-blue-light
          color: $c-white
        .nav-sidebar-list
          a
            background-color: rgba(0,0,0,0.1)
      .nav-sidebar-list
        background-color: rgba(0,0,0,0.2)
        li
          a
            padding-left: 30%
          .label
            float: right
.content-wrapper
  float: right
  height: 100%
  transition: all ease-in-out 500ms
  &[data-content='sm']
    width: calc(100% - 300px)
  &[data-content='lg']
    width: calc(100% - 80px)
.sidebar.hide-bar
  width: 0

.content-wrapper.full
  width: calc(100% - 0px)

.nav-sidebar-list-clone
  background: #49566b
  opacity: 0
  transition: 450ms transform ease-in-out, 500ms opacity ease-in-out
  transform-origin: top left
  transform: translate3d(-100%,0,0) scale(0,1)
  z-index: 10
  width: 250px
  li
    display: block
    a
      display: block
      text-decoration: none
      padding: 15px
      font-size: 16px
      color: #96989e
      border-bottom: 1px solid #42495f
      border-radius: 0
      box-shadow: inset 10px 0 15px -10px rgba(0,0,0,0.15)
      .label
        float: right
    &:last-child
      border-bottom-color: transparent
    &:hover, &:focus
      background-color: #5c6d86
      a
        color: #ccc


.move-right
  transform: translate3d(0,0,0) scale(1)
  opacity: 1


// Notification Sidebar

.notification-list-container
  background: $c-blue-dark
  box-shadow: -5px 0 10px -5px rgba(0,0,0,0.4)
  width: 300px
  position: fixed
  right: 0
  top: 87px
  height: calc(100% - 87px)
  z-index: 0
  overflow-y: auto
  transition: transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1), z-index 600ms
  transform: translate3d(100%, 0, 0)
  transform-origin: right top
  will-change: transform height

.notification-list-container.in
  z-index: 999
  transform: translate3d(0, 0, 0)

.notification-list-container.scrolled.in
  transform: translate3d(0,-87px,0)
  height: 100%

.notification-category
  background-color: $c-blue-light
  margin-bottom: 0

.notification-list
  li
    transition: background 250ms
    .media
      transition: transform 300ms

.notification-list
  li
    &:hover
      background-color: lighten($c-blue-dark, 5%)
      .media
        transform: translate3d(0,-3px,0)

.notification-list
  small
    color: $c-gray-dark

.notification-list
  .btn
    &:active, &:hover, &:focus
      color: $c-success

.notification
  span
    font-weight: 300

.notification.read
  strong
    font-weight: 300
  .media-right
    display: none