@charset "UTF-8";
.c-b-menu {
  background-color: #383636; }

.c-b-success {
  background-color: #43CA6C; }

.c-b-warning {
  background-color: #f1a82c; }

.c-b-trans {
  background-color: transparent; }

.c-b-dash-menu {
  background-color: #e9e9e9; }

.c-b-body {
  background-color: #f5f5f5; }

.c-b-badge {
  background-color: #f6ac1b; }

.c-t-gold {
  color: #fcc42b; }

.c-b-active {
  background-color: #5c6d86; }

.c-b-gray-light {
  background-color: #dddcdc; }

.c-b-blue-light {
  background-color: #44a6dd; }

.c-b-green {
  background-color: #16ad60; }

.c-bo-trans {
  border-color: transparent; }

.c-t-white {
  color: #fff; }

.c-t-dark {
  color: #383636; }

.c-t-light {
  color: #9e9e9e; }

.c-t-success {
  color: #43CA6C; }

.c-t-error {
  color: #ff4850; }

.c-t-warning {
  color: #f1a82c; }

.c-t-gold {
  color: #f6ac1b; }

.c-t-gray-dark {
  color: #979797; }

.c-t-blue-light {
  color: #5c6d86; }

.c-t-blue-sky {
  color: #44a6dd; }

.filter-grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); }

.sidebar {
  height: 100%;
  float: left;
  background: #363f4f;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  transition: all ease-in-out 500ms;
  z-index: 100; }
  .sidebar[data-menu='lg'] {
    width: 300px; }
    .sidebar[data-menu='lg'] .nav-sidebar > li .nav-sidebar-list {
      max-height: 252px;
      opacity: 1;
      transform: scale(1);
      transform-origin: top center;
      transition: 500ms transform, 500ms max-height, 500ms opacity; }
    .sidebar[data-menu='lg'] .nav-sidebar > li a span {
      display: inline-block;
      opacity: 1; }
    .sidebar[data-menu='lg'] .nav-sidebar li.closed .nav-sidebar-list {
      transform: scale(1, 0);
      max-height: 0;
      opacity: 0.5; }
  .sidebar[data-menu='sm'] {
    width: 80px; }
    .sidebar[data-menu='sm'] .nav-sidebar > li .nav-sidebar-list {
      display: none; }
    .sidebar[data-menu='sm'] .nav-sidebar > li a {
      padding: 15px 10px; }
      .sidebar[data-menu='sm'] .nav-sidebar > li a span {
        opacity: 0;
        display: none; }
  .sidebar[data-menu='hidden'] {
    width: 0; }
    .sidebar[data-menu='hidden'] * {
      display: none; }
  .sidebar .nav-sidebar li .collapse {
    background: #363f4f;
    width: 100%; }
    .sidebar .nav-sidebar li .collapse a {
      padding: 20px 50px; }
  .sidebar .nav-sidebar li a {
    display: block;
    text-decoration: none;
    padding: 20px 25px;
    font-size: 16px;
    color: #96989e;
    border-bottom: 1px solid #505563;
    border-radius: 0; }
    .sidebar .nav-sidebar li a:hover, .sidebar .nav-sidebar li a:focus {
      background: rgba(92, 109, 134, 0.5); }
    .sidebar .nav-sidebar li a i.fa {
      width: 55px;
      text-align: center; }
  .sidebar .nav-sidebar li.active a {
    background: #5c6d86;
    color: #fff; }
  .sidebar .nav-sidebar li.active .nav-sidebar-list a {
    background-color: rgba(0, 0, 0, 0.1); }
  .sidebar .nav-sidebar li .nav-sidebar-list {
    background-color: rgba(0, 0, 0, 0.2); }
    .sidebar .nav-sidebar li .nav-sidebar-list li a {
      padding-left: 30%; }
    .sidebar .nav-sidebar li .nav-sidebar-list li .label {
      float: right; }

.content-wrapper {
  float: right;
  height: 100%;
  transition: all ease-in-out 500ms; }
  .content-wrapper[data-content='sm'] {
    width: calc(100% - 300px); }
  .content-wrapper[data-content='lg'] {
    width: calc(100% - 80px); }

.sidebar.hide-bar {
  width: 0; }

.content-wrapper.full {
  width: calc(100% - 0px); }

.nav-sidebar-list-clone {
  background: #49566b;
  opacity: 0;
  transition: 450ms transform ease-in-out, 500ms opacity ease-in-out;
  transform-origin: top left;
  transform: translate3d(-100%, 0, 0) scale(0, 1);
  z-index: 10;
  width: 250px; }
  .nav-sidebar-list-clone li {
    display: block; }
    .nav-sidebar-list-clone li a {
      display: block;
      text-decoration: none;
      padding: 15px;
      font-size: 16px;
      color: #96989e;
      border-bottom: 1px solid #42495f;
      border-radius: 0;
      box-shadow: inset 10px 0 15px -10px rgba(0, 0, 0, 0.15); }
      .nav-sidebar-list-clone li a .label {
        float: right; }
    .nav-sidebar-list-clone li:last-child {
      border-bottom-color: transparent; }
    .nav-sidebar-list-clone li:hover, .nav-sidebar-list-clone li:focus {
      background-color: #5c6d86; }
      .nav-sidebar-list-clone li:hover a, .nav-sidebar-list-clone li:focus a {
        color: #ccc; }

.move-right {
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1; }

.notification-list-container {
  background: #414c5f;
  box-shadow: -5px 0 10px -5px rgba(0, 0, 0, 0.4);
  width: 300px;
  position: fixed;
  right: 0;
  top: 87px;
  height: calc(100% - 87px);
  z-index: 0;
  overflow-y: auto;
  transition: transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1), z-index 600ms;
  transform: translate3d(100%, 0, 0);
  transform-origin: right top;
  will-change: transform height; }

.notification-list-container.in {
  z-index: 999;
  transform: translate3d(0, 0, 0); }

.notification-list-container.scrolled.in {
  transform: translate3d(0, -87px, 0);
  height: 100%; }

.notification-category {
  background-color: #5c6d86;
  margin-bottom: 0; }

.notification-list li {
  transition: background 250ms; }
  .notification-list li .media {
    transition: transform 300ms; }

.notification-list li:hover {
  background-color: #4b586e; }
  .notification-list li:hover .media {
    transform: translate3d(0, -3px, 0); }

.notification-list small {
  color: #979797; }

.notification-list .btn:active, .notification-list .btn:hover, .notification-list .btn:focus {
  color: #43CA6C; }

.notification span {
  font-weight: 300; }

.notification.read strong {
  font-weight: 300; }
.notification.read .media-right {
  display: none; }

.table-ao-wrapper .table-options {
  margin-bottom: 15px; }
  .table-ao-wrapper .table-options .form-group {
    margin-right: 15px; }
  .table-ao-wrapper .table-options .btn-ao-input {
    padding: 4px 10px;
    margin-top: 0; }
.table-ao-wrapper .table-ao {
  border: 1px solid #e1e1de; }
  .table-ao-wrapper .table-ao thead tr th {
    border: none;
    background: #e1e1de; }

.dataTables_length {
  float: left; }

.dataTables_filter {
  float: right; }

.dataTables_paginate {
  text-align: center !important; }

.ao-dt-bottom {
  margin-top: 25px; }

.autocomplete-suggestions {
  border: 1px solid #9e9e9e;
  background: #fff;
  overflow: auto; }

.autocomplete-suggestion {
  padding: 15px 10px;
  white-space: nowrap;
  overflow: hidden; }

.autocomplete-selected {
  background: #f5f5f5; }

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #43CA6C; }
  .autocomplete-suggestions strong .autocomplete-group {
    padding: 2px 5px; }

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000; }

body, html {
  width: 100%;
  height: 100%; }

body {
  font-family: Roboto, sans-serif; }

button, .btn, a {
  transition-duration: 0.5s; }

button, .btn, input.form-control {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

img[src=""] {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center; }

img[src=""]:after {
  content: "No image \a available";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(35%); }

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -10; }

.navbar-ao {
  border-width: 0;
  border-radius: 0; }
  .navbar-ao .navbar-toggle {
    margin-top: 20px;
    margin-bottom: 20px; }
  .navbar-ao .navbar-nav li a {
    color: #fff !important;
    padding: 23px 15px; }

.navbar-ao-dashboard {
  border-width: 0;
  border-radius: 0; }
  .navbar-ao-dashboard .navbar-nav li,
  .navbar-ao-dashboard .navbar-nav li.active {
    border-right: 1px solid #d8d8d8; }
    .navbar-ao-dashboard .navbar-nav li a,
    .navbar-ao-dashboard .navbar-nav li.active a {
      padding: 25px 1.5625em 15px;
      font-size: 1.14286em;
      line-height: 2.14286em;
      min-height: 85px;
      color: #16ad60; }
    .navbar-ao-dashboard .navbar-nav li a:hover,
    .navbar-ao-dashboard .navbar-nav li.active a:hover {
      background: #16ad60;
      color: #fff; }
  .navbar-ao-dashboard .navbar-nav .count-block,
  .navbar-ao-dashboard .navbar-nav .count-block.active {
    border: 1px solid #d8d8d8;
    border-radius: 7px;
    line-height: 40px;
    padding: 5px 1.07143em;
    margin-left: 2.5em;
    text-transform: uppercase;
    width: 16.78571em; }
    .navbar-ao-dashboard .navbar-nav .count-block strong,
    .navbar-ao-dashboard .navbar-nav .count-block.active strong {
      font-size: 2.14286em;
      margin-right: 0.5em; }
    .navbar-ao-dashboard .navbar-nav .count-block p,
    .navbar-ao-dashboard .navbar-nav .count-block.active p {
      font-size: 0.92857em; }
  .navbar-ao-dashboard .navbar-nav .dropdown-menu li a {
    padding: 15px;
    min-height: unset; }
  .navbar-ao-dashboard .navbar-nav:last-child li:last-child {
    border-right: 0; }
  .navbar-ao-dashboard .navbar-brand {
    height: auto; }
    .navbar-ao-dashboard .navbar-brand strong {
      font-size: 1.16667em;
      letter-spacing: 0.02222em;
      color: #383636; }
    .navbar-ao-dashboard .navbar-brand small {
      font-size: 0.85em; }

@media (max-width: 1740px) {
  .navbar-ao-dashboard .navbar-nav {
    font-size: 12px; }
  .navbar-ao-dashboard .navbar-brand {
    font-size: 16px; } }
@media (max-width: 1540px) {
  .navbar-ao-dashboard .navbar-nav {
    font-size: 11px; }
    .navbar-ao-dashboard .navbar-nav .count-block {
      margin-left: 1.5em; }
  .navbar-ao-dashboard .navbar-brand {
    font-size: 14px; } }
@media (max-width: 1400px) {
  .navbar-ao-dashboard .navbar-nav {
    font-size: 10px; }
  .navbar-ao-dashboard .navbar-brand {
    font-size: 10px; } }
@media (max-width: 1280px) {
  .navbar-ao-dashboard .navbar-nav {
    font-size: 9px; }
    .navbar-ao-dashboard .navbar-nav li a {
      font-size: 1em; }
  .navbar-ao-dashboard .count-block strong {
    font-size: 1em; }
  .navbar-ao-dashboard .navbar-brand {
    font-size: 9px; } }
textarea.form-control {
  resize: none; }

.form-control.error {
  border-color: #ff4850; }

input.form-control.input-lg, select.form-control.input-lg {
  height: 60px; }

input.form-control, select.form-control, textarea.form-control {
  border-width: 2px; }

input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
  box-shadow: none; }

input:not(.error).form-control:focus {
  border-color: #43CA6C; }

.form-group.floating {
  display: flex;
  height: 62px;
  margin-bottom: 30px; }
  .form-group.floating .control-label {
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
    padding-left: 15px;
    color: #9e9e9e;
    z-index: 1; }
  .form-group.floating .form-control {
    align-self: flex-end; }
  .form-group.floating .form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms; }

textarea.form-control::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 300;
  color: #9e9e9e; }

.form-group.floating.focused .control-label {
  opacity: 1;
  transform: scale(0.9);
  padding-left: 0;
  margin-top: -18px; }

.form-control:focus::-webkit-input-placeholder {
  transition: none; }

.form-group.focused .form-control::-webkit-input-placeholder {
  color: #9e9e9e;
  font-weight: 300;
  font-size: 14px;
  opacity: 0.7; }

.btn-ao-input {
  border: 2px solid #ccc;
  background: #fff;
  margin-top: -14px;
  padding: 17px 16px;
  color: #9e9e9e;
  font-size: 16px;
  font-weight: 500; }

.inline-select .btn-ao-input {
  padding: 6px 12px;
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  color: #555; }

.order-form input.form-control.input-lg, .order-form select.form-control.input-lg {
  height: 50px;
  font-size: 16px; }

.order-form .form-group.floating {
  height: 55px;
  margin-bottom: 27px; }

.order-form .form-group.floating.focused .control-label {
  margin-top: -15px; }

.order-form textarea.form-control {
  border-radius: 0; }

.separator {
  border-right: 1px solid #9e9e9e; }

.separator-fx-div {
  padding-left: 35px; }

.menu-search-box .input-group-addon, .menu-search-box .form-control {
  background: transparent;
  border-width: 0;
  box-shadow: none; }
.menu-search-box .form-control {
  min-height: 50px; }

#searchOrderForm {
  border-bottom: 1px solid #979797; }

.content {
  background-color: #f5f5f5;
  padding-bottom: 50px; }
  .content .content-header {
    margin-bottom: 20px; }
  .content .content-body.box-me {
    padding: 25px; }

.box-me {
  background-color: #fff;
  box-shadow: 0 0 10px #9e9e9e; }

.store-info-box {
  min-height: 175px; }

.hr-mod {
  border-color: #e1e1de;
  border-width: 3px; }

#cropWrapper .cr-slider-wrap {
  margin: 25px 15px; }
#cropWrapper #btnSetImage {
  right: 5%;
  bottom: 8%; }

.location-info-box > div {
  border: 2px solid transparent;
  padding: 15px; }

.location-info-box.active > div {
  border-color: #16ad60; }

.loader {
  background-image: url("../images/loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9998; }

body.loader_div > .loader {
  position: fixed; }

.store-box {
  box-shadow: 0 0 5px #9e9e9e;
  margin-bottom: 25px; }
  .store-box .overlay {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .store-box .overlay .overlay-content {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%); }
      .store-box .overlay .overlay-content a {
        color: #fff;
        font-size: 16px;
        text-decoration: none; }
  .store-box .media-left {
    background: #e1e1de;
    padding-right: 0;
    height: 175px; }
  .store-box .store-name {
    color: #383636; }
  .store-box .media-body {
    padding: 25px; }
    .store-box .media-body .store-name {
      color: #383636;
      font-size: 16px;
      font-weight: bold; }
  .store-box:hover .overlay {
    opacity: 1; }

.store-location-modal .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .store-location-modal .modal-content .modal-header {
    border-bottom: 0; }
  .store-location-modal .modal-content .modal-body {
    background: #383636; }
    .store-location-modal .modal-content .modal-body .body-title {
      color: #fff;
      border-bottom: 1px solid #fff;
      font-size: 18px; }
    .store-location-modal .modal-content .modal-body .store-address-box {
      background: #fff;
      padding: 15px;
      min-height: 75px; }

.serving-area-modal .selectAllWrapper {
  border-bottom: 2px solid #9e9e9e; }
.serving-area-modal .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .serving-area-modal .modal-content .modal-header {
    border-bottom: 0;
    background: #656f7f;
    color: #fff; }
    .serving-area-modal .modal-content .modal-header .close {
      color: #fff;
      opacity: 0.8; }
      .serving-area-modal .modal-content .modal-header .close:hover {
        opacity: 1; }
  .serving-area-modal .modal-content .modal-body {
    background: #f2f2f2; }
.serving-area-modal .s-area-box-header {
  border-bottom: 1px solid #e1e1de;
  padding-bottom: 5px; }

.grid.responsive {
  width: 100%; }
  .grid.responsive .grid-item {
    width: 46%;
    margin: 2%; }

.title-border {
  border-bottom: 2px solid #e1e1de;
  padding-bottom: 10px;
  margin-bottom: 25px; }

.areas-list .root-areas {
  height: 100%;
  background: #fff;
  min-height: 600px; }
.areas-list .sub-areas {
  margin-left: 50px; }

#subAreaList li, #rootAreaList li {
  padding: 15px 20px; }
  #subAreaList li .edit, #rootAreaList li .edit {
    opacity: 0;
    font-size: 18px; }
  #subAreaList li:hover, #rootAreaList li:hover {
    background: #f2f2f2; }
    #subAreaList li:hover .edit, #rootAreaList li:hover .edit {
      opacity: 1; }
  #subAreaList li.active, #rootAreaList li.active {
    background: #e1e1de; }

#WServiceArea .item-box {
  font-size: 16px;
  margin-bottom: 25px;
  background: #fff;
  border-left: 8px solid #16ad60;
  padding: 15px;
  box-shadow: 0 0 10px #9e9e9e; }
  #WServiceArea .item-box .order-range, #WServiceArea .item-box .charge-amount, #WServiceArea .item-box .extra-charge-amount {
    font-size: 20px; }

#WOServiceArea .item-box, #DBServiceArea .item-box {
  font-size: 16px;
  margin-bottom: 25px;
  background: #fff;
  border-left: 8px solid #ff4850;
  padding: 15px 15px 30px;
  box-shadow: 0 0 10px #9e9e9e; }
  #WOServiceArea .item-box .km-range, #WOServiceArea .item-box .fare-amount, #WOServiceArea .item-box .extra-fare-amount, #DBServiceArea .item-box .km-range, #DBServiceArea .item-box .fare-amount, #DBServiceArea .item-box .extra-fare-amount {
    font-size: 20px; }

.modal .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .modal .modal-content .modal-header {
    border-bottom: 0;
    background: #656f7f;
    color: #fff; }
    .modal .modal-content .modal-header .close {
      color: #fff;
      opacity: 0.8; }
      .modal .modal-content .modal-header .close:hover {
        opacity: 1; }
  .modal .modal-content .modal-footer {
    border-top: none; }

.ao-form-inline {
  margin-bottom: 10px; }
  .ao-form-inline label {
    font-weight: normal;
    padding: 10px 0;
    font-size: 16px; }
  .ao-form-inline input {
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    width: 80px; }

.ao-input-group {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #ccc;
  padding: 10px 0;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  .ao-input-group input, .ao-input-group span {
    border: none;
    background: #fff;
    box-shadow: none; }
  .ao-input-group input {
    border-right: 1px solid; }

.flex-grid {
  display: flex;
  flex-wrap: wrap; }

.flex-grid-cell {
  display: flex;
  padding: 0.5em;
  width: 100%; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-col {
  flex-direction: column; }

.flex-justify-start {
  justify-content: flex-start; }

.flex-align-start {
  align-items: flex-start; }

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: transparent;
  border-radius: 0;
  box-shadow: 0 5px 0 #77bae7;
  color: initial; }

.order-list-page small {
  color: #9e9e9e; }

.order-list-item {
  background-color: #fff;
  border: 2px solid #93e0aa; }

.order-list-error {
  border-color: #ffaeb2; }
  .order-list-error .order-time-field {
    background-color: #dc383f;
    color: #fff; }

.order-list-default {
  border-color: #93e0aa; }
  .order-list-default .order-time-field {
    background-color: #518962;
    color: #fff; }

.order-list-warning {
  border-color: #f7cf8c; }
  .order-list-warning .order-time-field {
    background-color: #b88632;
    color: #fff; }

.order-waiting-actions {
  background-color: rgba(0, 0, 0, 0.7); }

.order-list-item:hover .order-waiting-actions {
  clip: initial;
  visibility: visible;
  z-index: 10; }

.order-waiting-actions .btn + .btn {
  margin-left: 10px; }

.order-label {
  background: #656f7f;
  margin-bottom: 0;
  padding: 5px;
  color: #fff; }

.order-detail-modal .modal-body .flex-parent {
  padding: 12.5px 0px;
  border-bottom: 1px solid #e1e1de; }

.order-list-item-new {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .order-list-item-new .time-elapsed-wrapper {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    margin-right: 10px;
    padding: 5px 0; }
  .order-list-item-new .order-list-error {
    border-color: #ffaeb2;
    background-color: #dc383f; }
  .order-list-item-new .order-list-default {
    border-color: #93e0aa;
    background-color: #518962; }
  .order-list-item-new .order-list-warning {
    border-color: #f7cf8c;
    background-color: #b88632; }

.order-list-item-new:hover .order-waiting-actions {
  clip: initial;
  visibility: visible;
  z-index: 10; }

.btn-order-list {
  background: transparent;
  color: #fcc42b;
  padding-top: 0px;
  padding-bottom: 0px; }
  .btn-order-list:hover {
    color: #fcc42b; }

.order-list-item-new .btn-order-list {
  border-right: 1px solid #fcc42b; }
.order-list-item-new .btn-order-list:last-child {
  border-right: none; }

.flex-parent {
  display: flex;
  align-items: center; }
  .flex-parent .border-right {
    border-right: 1px solid #e1e1de; }
  .flex-parent .flex-child {
    width: 50%; }

.mCSB_container {
  overflow: visible !important; }

.form-block + .form-block {
  border-left: 1px solid #fff; }

.form-block p {
  font-size: 14px;
  margin: 0; }
.form-block span {
  font-size: 24px;
  font-weight: bold; }

.driver-list-item {
  background-color: #fff;
  box-shadow: 0 0 10px #dddcdc; }

.driver-card {
  display: flex; }
  .driver-card .flex-item {
    width: 50%; }
    .driver-card .flex-item .image-wrapper {
      min-height: 200px; }
    .driver-card .flex-item .border-right {
      border-right: 1px solid #e1e1de; }
    .driver-card .flex-item .exp-level {
      background: #16ad60;
      padding: 5px;
      color: #fff;
      font-size: 12px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      left: 5px;
      bottom: 0; }
    .driver-card .flex-item .name-rating-wrapper {
      padding-top: 15px; }
      .driver-card .flex-item .name-rating-wrapper .driver-name {
        color: #fff;
        font-size: 16px;
        margin-bottom: 0; }
      .driver-card .flex-item .name-rating-wrapper .rating {
        font-size: 20px; }
    .driver-card .flex-item .driver-info-box {
      margin-bottom: 20px; }
      .driver-card .flex-item .driver-info-box p {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: bold; }
      .driver-card .flex-item .driver-info-box .info-label {
        font-weight: normal;
        text-transform: uppercase;
        color: #9e9e9e;
        font-size: 14px; }

.ao-prefs .form_group {
  background: #dddcdc;
  border: 1px solid #979797;
  margin-bottom: 20px; }
  .ao-prefs .form_group .form_head {
    background-color: #656f7f;
    color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%; }
    .ao-prefs .form_group .form_head .btn {
      margin: -5px 5px 0;
      color: #FFFFFF; }

.notification-past + .notification-past {
  margin-top: 20px; }

.past-notification-recepient {
  border-radius: 50%;
  display: inline-block;
  padding: 4px 6px;
  cursor: pointer;
  background-color: #979797;
  color: #e9e9e9;
  position: relative; }

.past-notification-recepient + .past-notification-recepient {
  margin-left: 10px; }

.past-notification-recepient:before {
  position: absolute;
  top: 0;
  left: 50%;
  content: attr(data-first) "  " attr(data-last);
  text-transform: capitalize;
  background-color: #383636;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  will-change: opacity, transform;
  transition: transform 350ms cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 200ms ease-out;
  opacity: 0;
  transform: scale(0) translate3d(-50%, -50%, 0);
  transform-origin: left;
  z-index: 0; }

.past-notification-recepient:hover {
  background-color: #44a6dd; }

.past-notification-recepient:hover:before {
  opacity: 1;
  transform: scale(1) translate3d(-50%, -150%, 0);
  z-index: 99; }

.custom-map-content {
  background-color: white;
  border: 2px solid white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 4px -1px;
  cursor: pointer;
  font-size: 12px;
  margin: 10px;
  padding: 8px;
  text-align: center; }

.driver-search-map {
  width: 125px;
  -webkit-transition: width 500ms ease-in-out;
  -moz-transition: width 500ms ease-in-out;
  -ms-transition: width 500ms ease-in-out;
  -o-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out; }

.driver-search-map:focus {
  width: 300px; }

.tab-green a {
  border-color: #16ad60 !important;
  color: #16ad60 !important; }
.tab-green.active a {
  box-shadow: 0 5px 0 #16ad60 !important; }

.tab-orange a {
  border-color: #f6871e !important;
  color: #f6871e !important;
  margin-right: 5px; }
.tab-orange.active a {
  box-shadow: 0 5px 0 #f6871e !important; }

.tab-red a {
  border-color: #ff4850 !important;
  color: #ff4850 !important;
  margin-right: 5px; }
.tab-red.active a {
  box-shadow: 0 5px 0 #ff4850 !important; }

table.table-ao tr th, table.table-ao tr td {
  border-right: 1px solid lightgray !important; }
table.table-ao tr th[colspan="2"] {
  border-bottom: 1px solid lightgray !important; }
table.table-ao thead tr th {
  text-align: center !important; }

.panel {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }
  .panel.panel-danger .panel-heading {
    background: #b93608;
    color: #fff; }
  .panel.panel-warning .panel-heading {
    background: #f8c744;
    color: #fff; }

@media (max-width: 768px) {
  .navbar-ao .navbar-toggle {
    margin-top: 20px;
    margin-bottom: 20px; }
  .navbar-ao .navbar-nav li a {
    padding: 15px; }

  .separator .pv110 {
    padding-top: 0 !important;
    padding-bottom: 15px !important; }

  .separator-fx-div {
    padding-left: 15px; } }
.notify {
  box-shadow: 0 7px 25px #383636;
  transition: transform ease-out 210ms, opacity ease-in 201ms; }
  .notify.notify-gone {
    transform: translateY(-10%) scale(0.1);
    opacity: 0; }

/*# sourceMappingURL=styles.css.map */
