@charset "utf-8"
$button-anim-duration: 0.5s

@import "colors"
@import "mixins"
//@import "CustomRadioCheck"
@import "sidebar"
@import "tables"
@import "autocomplete"
//@import "aoicon"

body, html
  width: 100%
  height: 100%

body
  font-family: Roboto, sans-serif

button, .btn, a
  transition-duration: $button-anim-duration

button, .btn, input.form-control
  +border-radius(2px)

img[src=""]
  height: 100%
  width: 100%
  overflow: hidden
  position: relative
  text-align: center

img[src=""]:after
  content: "No image \A available"
  position: absolute
  height: 100%
  width: 100%
  top: 0
  left: 0
  transform: translateY(35%)

.invisible
  border: 0
  clip: rect(0 0 0 0)
  height: 100%
  margin: 0
  overflow: hidden
  padding: 0
  position: absolute
  left: 0
  top: 0
  width: 100%
  z-index: -10

@import "navbar"

@import "forms"

.separator
  border-right: 1px solid $c-light

.separator-fx-div
  padding-left: 35px

.menu-search-box
  .input-group-addon, .form-control
    background: $c-trans
    border-width: 0
    box-shadow: none
  .form-control
    min-height: 50px

#searchOrderForm
  border-bottom: 1px solid $c-gray-dark

.content
  background-color: $c-body
  padding-bottom: 50px
  .content-header
    margin-bottom: 20px
  .content-body
    &.box-me
      padding: 25px

.box-me
  background-color: $c-white
  box-shadow: 0 0 10px $c-light

.store-info-box
  min-height: 175px

.hr-mod
  border-color: $c-lighter
  border-width: 3px

#cropWrapper
  .cr-slider-wrap
    margin: 25px 15px
  #btnSetImage
    right: 5%
    bottom: 1.5%

.location-info-box > div
  border: 2px solid $c-trans
  padding: 15px

.location-info-box.active > div
  border-color: $c-green

.loader
  background-image: url('../images/loader.gif')
  background-position: center center
  background-repeat: no-repeat
  background-color: rgba(0, 0, 0, 0.5)
  width: 100%
  //width: 100vw
  height: 100%
  //height: 100vh
  position: absolute
  left: 0
  top: 0
  z-index: 9998

body.loader_div > .loader
  position: fixed

//--store styles--

.store-list
  flex: 1 1 20%
  margin-right: 20px
  &:last-child
    marign-right: 0

.store-box
  box-shadow: 0 0 5px $c-light
  margin-bottom: 25px

  .overlay
    transition: all $button-anim-duration ease-in-out
    opacity: 0
    background: rgba(0, 0, 0, 0.8)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    .overlay-content
      position: absolute
      top: 50%
      width: 100%
      transform: translateY(-50%)
      a
        color: $c-white
        font-size: 16px
        text-decoration: none

  .media-left
    background: $c-lighter
    padding-right: 0
    height: 175px
  .store-name
    color: $c-dark
  .media-body
    padding: 25px
    .store-name
      color: $c-dark
      font-size: 16px
      font-weight: bold
  &:hover
    .overlay
      opacity: 1

.store-location-modal
  //.modal-dialog
  .modal-content
    +border-radius(0)
    .modal-header
      border-bottom: 0
    .modal-body
      background: $c-dark
      .body-title
        color: $c-white
        border-bottom: 1px solid $c-white
        font-size: 18px
      .store-address-box
        background: $c-white
        padding: 15px
        min-height: 75px

//--store serving areas styles--
.serving-area-modal
  .selectAllWrapper
    border-bottom: 2px solid $c-light
  .modal-content
    +border-radius(0)
    .modal-header
      border-bottom: 0
      background: $c-gray-blue
      color: $c-white
      .close
        color: $c-white
        opacity: 0.8
        &:hover
          opacity: 1
    .modal-body
      background: $c-body-light
  .s-area-box-header
    border-bottom: 1px solid $c-lighter
    padding-bottom: 5px

.grid.responsive
  width: 100%
  .grid-item
    width: 46%
    margin: 2%

//--area styles
.title-border
  border-bottom: 2px solid $c-lighter
  padding-bottom: 10px
  margin-bottom: 25px

.areas-list
  .root-areas
    height: 100%
    background: $c-white
    min-height: 600px
  .sub-areas
    margin-left: 50px

#subAreaList, #rootAreaList
  li
    padding: 15px 20px
    .edit
      opacity: 0
      font-size: 18px
    &:hover
      background: $c-body-light
      .edit
        opacity: 1
    &.active
      background: $c-lighter

//--rate plan styles
#WServiceArea
  .item-box
    font-size: 16px
    margin-bottom: 25px
    background: $c-white
    border-left: 8px solid $c-green
    padding: 15px
    //+border-radius(4px)
    box-shadow: 0 0 10px $c-light
    .order-range, .charge-amount, .extra-charge-amount
      font-size: 20px

#WOServiceArea, #DBServiceArea
  .item-box
    font-size: 16px
    margin-bottom: 25px
    background: $c-white
    border-left: 8px solid $c-error
    padding: 15px 15px 30px
    //+border-radius(4px)
    box-shadow: 0 0 10px $c-light
    .km-range, .fare-amount, .extra-fare-amount
      font-size: 20px

//#WServiceAreaModal, #WOServiceAreaModal, #addBlacklistedModal, #storeManagerModal, #blackListedModal, #saveAndAssignModal, #forgotPWModal
.modal
  .modal-content
    +border-radius(0)
    .modal-header
      border-bottom: 0
      background: $c-gray-blue
      color: $c-white
      .close
        color: $c-white
        opacity: 0.8
        &:hover
          opacity: 1

    .modal-footer
      border-top: none

.ao-form-inline
  margin-bottom: 10px
  label
    font-weight: normal
    padding: 10px 0
    font-size: 16px
  input
    border: 1px solid #ccc
    +border-radius(4px)
    padding: 10px
    width: 80px

.ao-input-group
  width: 100%
  background-color: #fff
  border: 1px solid #ccc
  color: #ccc
  padding: 10px 0
  margin-bottom: 10px
  +border-radius(4px)
  input, span
    border: none
    background: #fff
    box-shadow: none
  input
    border-right: 1px solid

//--flexbox grid

.flex-grid
  display: flex
  flex-wrap: wrap

.flex-grid-cell
  display: flex
  padding: 0.5em
  width: 100%

.flex-center
  display: flex
  align-items: center
  justify-content: center

.flex-col
  flex-direction: column

.flex-justify-start
  justify-content: flex-start

.flex-align-start
  align-items: flex-start

//--Nav-Pill Override

.nav-pills
  > li.active
    > a,
    > a:focus,
    > a:hover
      background-color: $c-trans
      border-radius: 0
      box-shadow: 0 5px 0 #77bae7
      color: initial

//--order List page styles

.order-list-page small
  color: $c-light

// order list
.order-list-item
  background-color: $c-white
  border: 2px solid darken(lighten($c-success, 30%), 10%)

.order-list-error
  border-color: darken(lighten($c-error, 30%), 10%)
  .order-time-field
    background-color: desaturate(darken($c-error, 10%), 30%)
    color: $c-white

.order-list-default
  border-color: darken(lighten($c-success, 30%), 10%)
  .order-time-field
    background-color: desaturate(darken($c-success, 10%), 30%)
    color: $c-white

.order-list-warning
  border-color: darken(lighten($c-warning, 30%), 10%)
  .order-time-field
    background-color: desaturate(darken($c-warning, 10%), 30%)
    color: $c-white

.order-waiting-actions
  background-color: rgba($c-black, 0.7)

.order-list-item:hover .order-waiting-actions
  clip: initial
  visibility: visible
  z-index: 10

.order-waiting-actions .btn + .btn
  margin-left: 10px

.order-label
  background: $c-gray-blue
  margin-bottom: 0
  padding: 5px
  color: $c-white

.order-detail-modal
  .modal-body
    .flex-parent
      padding: 12.5px 0px
      border-bottom: 1px solid $c-lighter

//order list new
.order-list-item-new
  background: $c-white
  padding: 10px
  margin-bottom: 10px
  +border-radius(3px)
  .time-elapsed-wrapper
    +border-radius(3px)
    //background: $c-error
    color: $c-white
    margin-right: 10px
    padding: 5px 0
  .order-list-error
    border-color: darken(lighten($c-error, 30%), 10%)
    background-color: desaturate(darken($c-error, 10%), 30%)
  .order-list-default
    border-color: darken(lighten($c-success, 30%), 10%)
    background-color: desaturate(darken($c-success, 10%), 30%)
  .order-list-warning
    border-color: darken(lighten($c-warning, 30%), 10%)
    background-color: desaturate(darken($c-warning, 10%), 30%)

.order-list-item-new:hover .order-waiting-actions
  clip: initial
  visibility: visible
  z-index: 10

.btn-order-list
  background: transparent
  color: $c-gold
  padding-top: 0px
  padding-bottom: 0px
  &:hover
    color: $c-gold

.order-list-item-new
  .btn-order-list
    border-right: 1px solid $c-gold
  .btn-order-list:last-child
    border-right: none

//add order
.flex-parent
  display: flex
  align-items: center
  .border-right
    border-right: 1px solid $c-lighter
  .flex-child
    width: 50%

.mCSB_container
  overflow: visible !important

.form-block + .form-block
  border-left: 1px solid $c-white

.form-block
  p
    font-size: 14px
    margin: 0
  span
    font-size: 24px
    font-weight: bold

// driver list
.driver-list-item
  background-color: $c-white
  box-shadow: 0 0 10px $c-gray-light

// driver detail
//.driver-card
  .driver-info-box
    margin-bottom: 20px
    p
      margin-bottom: 0
      font-size: 16px
    .info-label
      text-transform: uppercase
      color: $c-light
      font-size: 14px

.driver-card
  display: flex
  .flex-item
    width: 50%
    .image-wrapper
      min-height: 200px
    .border-right
      border-right: 1px solid $c-lighter
    .exp-level
      background: $c-green
      padding: 5px
      color: $c-white
      font-size: 12px
      +border-radius(4px)
      left: 5px
      bottom: 0
    .name-rating-wrapper
      padding-top: 15px
      .driver-name
        color: $c-white
        font-size: 16px
        margin-bottom: 0
      .rating
        font-size: 20px
    .driver-info-box
      margin-bottom: 20px
      p
        margin-bottom: 0
        font-size: 16px
        font-weight: bold
      .info-label
        font-weight: normal
        text-transform: uppercase
        color: $c-light
        font-size: 14px

// preferences
.ao-prefs .form_group
  background: $c-gray-light
  border: 1px solid $c-gray-dark
  margin-bottom: 20px
  .form_head
    background-color: $c-gray-blue
    color: $c-white
    margin-bottom: 15px
    padding: 15px
    width: 100%
    .btn
      margin: -5px 5px 0
      color: #FFFFFF

// Notification

.notification-past + .notification-past
  margin-top: 20px

.past-notification-recepient
  border-radius: 50%
  display: inline-block
  padding: 4px 6px
  cursor: pointer
  background-color: $c-gray-dark
  color: $c-dash-menu
  position: relative

.past-notification-recepient + .past-notification-recepient
  margin-left: 10px

.past-notification-recepient:before
  position: absolute
  top: 0
  left: 50%
  content: attr(data-first) "\A" attr(data-last)
  text-transform: capitalize
  background-color: $c-dark
  color: $c-white
  font-size: 12px
  padding: 10px
  border-radius: 5px
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5)
  transition: transform 350ms cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 200ms ease-out
  opacity: 0
  transform: scale(0) translate3d(-50%, -50%, 0)
  transform-origin: left
  z-index: 0
  white-space: pre

.past-notification-recepient:hover
  background-color: $c-sky-blue

.past-notification-recepient:hover:before
  opacity: 1
  transform: scale(1) translate3d(-50%, -150%, 0)
  z-index: 99

// Google Maps

.custom-map-content
  background-color: rgb(255, 255, 255)
  border: 2px solid rgb(255, 255, 255)
  border-radius: 2px
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px
  cursor: pointer
  font-size: 12px
  // font-weight: bold
  margin: 10px
  padding: 8px
  text-align: center

//search in maps
.driver-search-map
  width: 125px
  -webkit-transition: width 500ms ease-in-out
  -moz-transition: width 500ms ease-in-out
  -ms-transition: width 500ms ease-in-out
  -o-transition: width 500ms ease-in-out
  transition: width 500ms ease-in-out

.driver-search-map:focus
  width: 300px

//colorful tabs
.tab-green
  a
    border-color: $c-green !important
    color: $c-green !important
  &.active
    a
      box-shadow: 0 5px 0 $c-green !important

.tab-orange
  a
    border-color: $c-orange !important
    color: $c-orange !important
    margin-right: 5px
  &.active
    a
      box-shadow: 0 5px 0 $c-orange !important

.tab-red
  a
    border-color: $c-error !important
    color: $c-error !important
    margin-right: 5px
  &.active
    a
      box-shadow: 0 5px 0 $c-error !important

//tables borders
table.table-ao
  tr th, tr td
    border-right: 1px solid lightgray !important

  tr th[colspan="2"]
    border-bottom: 1px solid lightgray !important

  thead tr th
    text-align: center !important

//panels
.panel
  +border-radius(0px)

  &.panel-danger
    .panel-heading
      background: #b93608
      color: $c-white
  &.panel-warning
    .panel-heading
      background: #f8c744
      color: $c-white
@import "media"

// notify-gone

.notify
  box-shadow: 0 7px 25px $c-dark
  transition: transform ease-out 510ms, opacity ease-in 500ms
  &.notify-gone
    transform: translateY(-10%) scale(0.1)
    transform-origin: left center
    opacity: 0

// Transparent Search Bar

.store-search
  background: #f0f0f0
  padding: 15px
  box-shadow: 0 5px 0 0 rgba(0,0,0,0.1)

.search-trans
  background-color: transparent
  box-shadow: none
  border: 0 none
  font-size: 18px