.table-ao-wrapper
  .table-options
    margin-bottom: 15px
    .form-group
      margin-right: 15px
    .btn-ao-input
      padding: 4px 10px
      margin-top: 0

  .table-ao
    border: 1px solid $c-lighter
    thead
      tr
        th
          border: none
          background: $c-lighter

.dataTables_length
  float: left

.dataTables_filter
  float: right

.dataTables_paginate
  text-align: center !important

.ao-dt-bottom
  margin-top: 25px