.mt0{margin-top:0!important;}
.mt2{margin-top:2px!important;}
.mt5{margin-top:5px!important;}
.mt10{margin-top:10px!important;}
.mt15{margin-top:15px!important;}
.mt20{margin-top:20px!important;}
.mt24{margin-top:24px!important;}
.mt25{margin-top:25px!important;}
.mt30{margin-top:30px!important;}
.mt35{margin-top:35px!important;}
.mt40{margin-top:40px!important;}
.mt45{margin-top:45px!important;}
.mt50{margin-top:50px!important;}
.mt55{margin-top:55px!important;}
.mt60{margin-top:60px!important;}
.mt65{margin-top:65px!important;}
.mt70{margin-top:70px!important;}
.mt75{margin-top:75px!important;}
.mt80{margin-top:80px!important;}
.mt85{margin-top:85px!important;}
.mt90{margin-top:90px!important;}
.mt95{margin-top:95px!important;}
.mt100{margin-top:100px!important;}
.mt110{margin-top:110px!important;}
.mt120{margin-top:120px!important;}
.mt130{margin-top:130px!important;}
.mt140{margin-top:140px!important;}
.mt150{margin-top:150px!important;}
.mt160{margin-top:160px!important;}
.mt170{margin-top:170px!important;}
.mt180{margin-top:180px!important;}
.mt190{margin-top:190px!important;}
.mt200{margin-top:200px!important;}
.mt5neg{margin-top:-5px!important;}
.mt2neg{margin-top:-2px!important;}
.mt10neg{margin-top:-10px!important;}
.mt15neg{margin-top:-15px!important;}
.mt20neg{margin-top:-20px!important;}
.mt25neg{margin-top:-25px!important;}
.mt30neg{margin-top:-30px!important;}
.mt35neg{margin-top:-35px!important;}
.mt40neg{margin-top:-40px!important;}
.mt45neg{margin-top:-45px!important;}
.mt50neg{margin-top:-50px!important;}
.mt55neg{margin-top:-55px!important;}
.mt60neg{margin-top:-60px!important;}
.mt65neg{margin-top:-65px!important;}
.mt70neg{margin-top:-70px!important;}
.mt75neg{margin-top:-75px!important;}
.mt80neg{margin-top:-80px!important;}
.mt85neg{margin-top:-85px!important;}
.mt90neg{margin-top:-90px!important;}
.mt95neg{margin-top:-95px!important;}
.mt100neg{margin-top:-100px!important;}
.mt110neg{margin-top:-110px!important;}
.mt120neg{margin-top:-120px!important;}
.mt130neg{margin-top:-130px!important;}
.mt140neg{margin-top:-140px!important;}
.mt150neg{margin-top:-150px!important;}
.mt160neg{margin-top:-160px!important;}
.mt170neg{margin-top:-170px!important;}
.mt180neg{margin-top:-180px!important;}
.mt190neg{margin-top:-190px!important;}
.mt200neg{margin-top:-200px!important;}

.mr0{margin-right:0!important;}
.mr2{margin-right:2px!important;}
.mr5{margin-right:5px!important;}
.mr10{margin-right:10px!important;}
.mr15{margin-right:15px!important;}
.mr20{margin-right:20px!important;}
.mr25{margin-right:25px!important;}
.mr30{margin-right:30px!important;}
.mr35{margin-right:35px!important;}
.mr40{margin-right:40px!important;}
.mr45{margin-right:45px!important;}
.mr50{margin-right:50px!important;}
.mr55{margin-right:55px!important;}
.mr60{margin-right:60px!important;}
.mr65{margin-right:65px!important;}
.mr70{margin-right:70px!important;}
.mr75{margin-right:75px!important;}
.mr80{margin-right:80px!important;}
.mr85{margin-right:85px!important;}
.mr90{margin-right:90px!important;}
.mr95{margin-right:95px!important;}
.mr100{margin-right:100px!important;}
.mr110{margin-right:110px!important;}
.mr120{margin-right:120px!important;}
.mr130{margin-right:130px!important;}
.mr140{margin-right:140px!important;}
.mr150{margin-right:150px!important;}
.mr160{margin-right:160px!important;}
.mr170{margin-right:170px!important;}
.mr180{margin-right:180px!important;}
.mr190{margin-right:190px!important;}
.mr200{margin-right:200px!important;}
.mr2neg{margin-right:-2px!important;}
.mr5neg{margin-right:-5px!important;}
.mr10neg{margin-right:-10px!important;}
.mr15neg{margin-right:-15px!important;}
.mr20neg{margin-right:-20px!important;}
.mr25neg{margin-right:-25px!important;}
.mr30neg{margin-right:-30px!important;}
.mr35neg{margin-right:-35px!important;}
.mr40neg{margin-right:-40px!important;}
.mr45neg{margin-right:-45px!important;}
.mr50neg{margin-right:-50px!important;}
.mr55neg{margin-right:-55px!important;}
.mr60neg{margin-right:-60px!important;}
.mr65neg{margin-right:-65px!important;}
.mr70neg{margin-right:-70px!important;}
.mr75neg{margin-right:-75px!important;}
.mr80neg{margin-right:-80px!important;}
.mr85neg{margin-right:-85px!important;}
.mr90neg{margin-right:-90px!important;}
.mr95neg{margin-right:-95px!important;}
.mr100neg{margin-right:-100px!important;}
.mr110neg{margin-right:-110px!important;}
.mr120neg{margin-right:-120px!important;}
.mr130neg{margin-right:-130px!important;}
.mr140neg{margin-right:-140px!important;}
.mr150neg{margin-right:-150px!important;}
.mr160neg{margin-right:-160px!important;}
.mr170neg{margin-right:-170px!important;}
.mr180neg{margin-right:-180px!important;}
.mr190neg{margin-right:-190px!important;}
.mr200neg{margin-right:-200px!important;}

.mb0{margin-bottom:0!important;}
.mb2{margin-bottom:2px!important;}
.mb5{margin-bottom:5px!important;}
.mb10{margin-bottom:10px!important;}
.mb15{margin-bottom:15px!important;}
.mb20{margin-bottom:20px!important;}
.mb25{margin-bottom:25px!important;}
.mb30{margin-bottom:30px!important;}
.mb35{margin-bottom:35px!important;}
.mb40{margin-bottom:40px!important;}
.mb45{margin-bottom:45px!important;}
.mb50{margin-bottom:50px!important;}
.mb55{margin-bottom:55px!important;}
.mb60{margin-bottom:60px!important;}
.mb65{margin-bottom:65px!important;}
.mb70{margin-bottom:70px!important;}
.mb75{margin-bottom:75px!important;}
.mb80{margin-bottom:80px!important;}
.mb85{margin-bottom:85px!important;}
.mb90{margin-bottom:90px!important;}
.mb95{margin-bottom:95px!important;}
.mb100{margin-bottom:100px!important;}
.mb110{margin-bottom:110px!important;}
.mb120{margin-bottom:120px!important;}
.mb130{margin-bottom:130px!important;}
.mb140{margin-bottom:140px!important;}
.mb150{margin-bottom:150px!important;}
.mb160{margin-bottom:160px!important;}
.mb170{margin-bottom:170px!important;}
.mb180{margin-bottom:180px!important;}
.mb190{margin-bottom:190px!important;}
.mb200{margin-bottom:200px!important;}
.mb2neg{margin-bottom:-2px!important;}
.mb5neg{margin-bottom:-5px!important;}
.mb10neg{margin-bottom:-10px!important;}
.mb15neg{margin-bottom:-15px!important;}
.mb20neg{margin-bottom:-20px!important;}
.mb25neg{margin-bottom:-25px!important;}
.mb30neg{margin-bottom:-30px!important;}
.mb35neg{margin-bottom:-35px!important;}
.mb40neg{margin-bottom:-40px!important;}
.mb45neg{margin-bottom:-45px!important;}
.mb50neg{margin-bottom:-50px!important;}
.mb55neg{margin-bottom:-55px!important;}
.mb60neg{margin-bottom:-60px!important;}
.mb65neg{margin-bottom:-65px!important;}
.mb70neg{margin-bottom:-70px!important;}
.mb75neg{margin-bottom:-75px!important;}
.mb80neg{margin-bottom:-80px!important;}
.mb85neg{margin-bottom:-85px!important;}
.mb90neg{margin-bottom:-90px!important;}
.mb95neg{margin-bottom:-95px!important;}
.mb100neg{margin-bottom:-100px!important;}
.mb110neg{margin-bottom:-110px!important;}
.mb120neg{margin-bottom:-120px!important;}
.mb130neg{margin-bottom:-130px!important;}
.mb140neg{margin-bottom:-140px!important;}
.mb150neg{margin-bottom:-150px!important;}
.mb160neg{margin-bottom:-160px!important;}
.mb170neg{margin-bottom:-170px!important;}
.mb180neg{margin-bottom:-180px!important;}
.mb190neg{margin-bottom:-190px!important;}
.mb200neg{margin-bottom:-200px!important;}

.ml0{margin-left:0!important;}
.ml2{margin-left:2px!important;}
.ml5{margin-left:5px!important;}
.ml10{margin-left:10px!important;}
.ml15{margin-left:15px!important;}
.ml20{margin-left:20px!important;}
.ml25{margin-left:25px!important;}
.ml30{margin-left:30px!important;}
.ml35{margin-left:35px!important;}
.ml40{margin-left:40px!important;}
.ml45{margin-left:45px!important;}
.ml50{margin-left:50px!important;}
.ml55{margin-left:55px!important;}
.ml60{margin-left:60px!important;}
.ml65{margin-left:65px!important;}
.ml70{margin-left:70px!important;}
.ml75{margin-left:75px!important;}
.ml80{margin-left:80px!important;}
.ml85{margin-left:85px!important;}
.ml90{margin-left:90px!important;}
.ml95{margin-left:95px!important;}
.ml100{margin-left:100px!important;}
.ml110{margin-left:110px!important;}
.ml120{margin-left:120px!important;}
.ml130{margin-left:130px!important;}
.ml140{margin-left:140px!important;}
.ml150{margin-left:150px!important;}
.ml160{margin-left:160px!important;}
.ml170{margin-left:170px!important;}
.ml180{margin-left:180px!important;}
.ml190{margin-left:190px!important;}
.ml200{margin-left:200px!important;}
.ml2neg{margin-left:-2px!important;}
.ml5neg{margin-left:-5px!important;}
.ml10neg{margin-left:-10px!important;}
.ml15neg{margin-left:-15px!important;}
.ml20neg{margin-left:-20px!important;}
.ml25neg{margin-left:-25px!important;}
.ml30neg{margin-left:-30px!important;}
.ml35neg{margin-left:-35px!important;}
.ml40neg{margin-left:-40px!important;}
.ml45neg{margin-left:-45px!important;}
.ml50neg{margin-left:-50px!important;}
.ml55neg{margin-left:-55px!important;}
.ml60neg{margin-left:-60px!important;}
.ml65neg{margin-left:-65px!important;}
.ml70neg{margin-left:-70px!important;}
.ml75neg{margin-left:-75px!important;}
.ml80neg{margin-left:-80px!important;}
.ml85neg{margin-left:-85px!important;}
.ml90neg{margin-left:-90px!important;}
.ml95neg{margin-left:-95px!important;}
.ml100neg{margin-left:-100px!important;}
.ml110neg{margin-left:-110px!important;}
.ml120neg{margin-left:-120px!important;}
.ml130neg{margin-left:-130px!important;}
.ml140neg{margin-left:-140px!important;}
.ml150neg{margin-left:-150px!important;}
.ml160neg{margin-left:-160px!important;}
.ml170neg{margin-left:-170px!important;}
.ml180neg{margin-left:-180px!important;}
.ml190neg{margin-left:-190px!important;}
.ml200neg{margin-left:-200px!important;}

.m0{margin:0!important;}
.m2{margin:2px!important;}
.m5{margin:5px!important;}
.m10{margin:10px!important;}
.m15{margin:15px!important;}
.m20{margin:20px!important;}
.m25{margin:25px!important;}
.m30{margin:30px!important;}
.m35{margin:35px!important;}
.m40{margin:40px!important;}
.m45{margin:45px!important;}
.m50{margin:50px!important;}
.m55{margin:55px!important;}
.m60{margin:60px!important;}
.m65{margin:65px!important;}
.m70{margin:70px!important;}
.m75{margin:75px!important;}
.m80{margin:80px!important;}
.m85{margin:85px!important;}
.m90{margin:90px!important;}
.m95{margin:95px!important;}
.m100{margin:100px!important;}
.m110{margin:110px!important;}
.m120{margin:120px!important;}
.m130{margin:130px!important;}
.m140{margin:140px!important;}
.m150{margin:150px!important;}
.m160{margin:160px!important;}
.m170{margin:170px!important;}
.m180{margin:180px!important;}
.m190{margin:190px!important;}
.m200{margin:200px!important;}

.mv0{margin-top:0!important;margin-bottom:0!important;}
.mv2{margin-top:2px!important;margin-bottom:2px!important;}
.mv5{margin-top:5px!important;margin-bottom:5px!important;}
.mv10{margin-top:10px!important;margin-bottom:10px!important;}
.mv15{margin-top:15px!important;margin-bottom:15px!important;}
.mv20{margin-top:20px!important;margin-bottom:20px!important;}
.mv25{margin-top:25px!important;margin-bottom:25px!important;}
.mv30{margin-top:30px!important;margin-bottom:30px!important;}
.mv35{margin-top:35px!important;margin-bottom:35px!important;}
.mv40{margin-top:40px!important;margin-bottom:40px!important;}
.mv45{margin-top:45px!important;margin-bottom:45px!important;}
.mv50{margin-top:50px!important;margin-bottom:50px!important;}
.mv55{margin-top:55px!important;margin-bottom:55px!important;}
.mv60{margin-top:60px!important;margin-bottom:60px!important;}
.mv65{margin-top:65px!important;margin-bottom:65px!important;}
.mv70{margin-top:70px!important;margin-bottom:70px!important;}
.mv75{margin-top:75px!important;margin-bottom:75px!important;}
.mv80{margin-top:80px!important;margin-bottom:80px!important;}
.mv85{margin-top:85px!important;margin-bottom:85px!important;}
.mv90{margin-top:90px!important;margin-bottom:90px!important;}
.mv95{margin-top:95px!important;margin-bottom:95px!important;}
.mv100{margin-top:100px!important;margin-bottom:100px!important;}
.mv110{margin-top:110px!important;margin-bottom:110px!important;}
.mv120{margin-top:120px!important;margin-bottom:120px!important;}
.mv130{margin-top:130px!important;margin-bottom:130px!important;}
.mv140{margin-top:140px!important;margin-bottom:140px!important;}
.mv150{margin-top:150px!important;margin-bottom:150px!important;}
.mv160{margin-top:160px!important;margin-bottom:160px!important;}
.mv170{margin-top:170px!important;margin-bottom:170px!important;}
.mv180{margin-top:180px!important;margin-bottom:180px!important;}
.mv190{margin-top:190px!important;margin-bottom:190px!important;}
.mv200{margin-top:200px!important;margin-bottom:200px!important;}

.mh0{margin-right:0!important;margin-left:0!important;}
.mh2{margin-right:2px!important;margin-left:2px!important;}
.mh5{margin-right:5px!important;margin-left:5px!important;}
.mh10{margin-right:10px!important;margin-left:10px!important;}
.mh15{margin-right:15px!important;margin-left:15px!important;}
.mh20{margin-right:20px!important;margin-left:20px!important;}
.mh25{margin-right:25px!important;margin-left:25px!important;}
.mh30{margin-right:30px!important;margin-left:30px!important;}
.mh35{margin-right:35px!important;margin-left:35px!important;}
.mh40{margin-right:40px!important;margin-left:40px!important;}
.mh45{margin-right:45px!important;margin-left:45px!important;}
.mh50{margin-right:50px!important;margin-left:50px!important;}
.mh55{margin-right:55px!important;margin-left:55px!important;}
.mh60{margin-right:60px!important;margin-left:60px!important;}
.mh65{margin-right:65px!important;margin-left:65px!important;}
.mh70{margin-right:70px!important;margin-left:70px!important;}
.mh75{margin-right:75px!important;margin-left:75px!important;}
.mh80{margin-right:80px!important;margin-left:80px!important;}
.mh85{margin-right:85px!important;margin-left:85px!important;}
.mh90{margin-right:90px!important;margin-left:90px!important;}
.mh95{margin-right:95px!important;margin-left:95px!important;}
.mh100{margin-right:100px!important;margin-left:100px!important;}
.mh110{margin-right:110px!important;margin-left:110px!important;}
.mh120{margin-right:120px!important;margin-left:120px!important;}
.mh130{margin-right:130px!important;margin-left:130px!important;}
.mh140{margin-right:140px!important;margin-left:140px!important;}
.mh150{margin-right:150px!important;margin-left:150px!important;}
.mh160{margin-right:160px!important;margin-left:160px!important;}
.mh170{margin-right:170px!important;margin-left:170px!important;}
.mh180{margin-right:180px!important;margin-left:180px!important;}
.mh190{margin-right:190px!important;margin-left:190px!important;}
.mh200{margin-right:200px!important;margin-left:200px!important;}

.pt0{padding-top:0!important;}
.pt2{padding-top:2px!important;}
.pt5{padding-top:5px!important;}
.pt10{padding-top:10px!important;}
.pt15{padding-top:15px!important;}
.pt20{padding-top:20px!important;}
.pt25{padding-top:25px!important;}
.pt30{padding-top:30px!important;}
.pt35{padding-top:35px!important;}
.pt40{padding-top:40px!important;}
.pt45{padding-top:45px!important;}
.pt50{padding-top:50px!important;}
.pt55{padding-top:55px!important;}
.pt60{padding-top:60px!important;}
.pt65{padding-top:65px!important;}
.pt70{padding-top:70px!important;}
.pt75{padding-top:75px!important;}
.pt80{padding-top:80px!important;}
.pt85{padding-top:85px!important;}
.pt90{padding-top:90px!important;}
.pt95{padding-top:95px!important;}
.pt100{padding-top:100px!important;}
.pt110{padding-top:110px!important;}
.pt120{padding-top:120px!important;}
.pt130{padding-top:130px!important;}
.pt140{padding-top:140px!important;}
.pt150{padding-top:150px!important;}
.pt160{padding-top:160px!important;}
.pt170{padding-top:170px!important;}
.pt180{padding-top:180px!important;}
.pt190{padding-top:190px!important;}
.pt200{padding-top:200px!important;}

.pr0{padding-right:0!important;}
.pr2{padding-right:2px!important;}
.pr5{padding-right:5px!important;}
.pr10{padding-right:10px!important;}
.pr15{padding-right:15px!important;}
.pr20{padding-right:20px!important;}
.pr25{padding-right:25px!important;}
.pr30{padding-right:30px!important;}
.pr35{padding-right:35px!important;}
.pr40{padding-right:40px!important;}
.pr45{padding-right:45px!important;}
.pr50{padding-right:50px!important;}
.pr55{padding-right:55px!important;}
.pr60{padding-right:60px!important;}
.pr65{padding-right:65px!important;}
.pr70{padding-right:70px!important;}
.pr75{padding-right:75px!important;}
.pr80{padding-right:80px!important;}
.pr85{padding-right:85px!important;}
.pr90{padding-right:90px!important;}
.pr95{padding-right:95px!important;}
.pr100{padding-right:100px!important;}
.pr110{padding-right:110px!important;}
.pr120{padding-right:120px!important;}
.pr130{padding-right:130px!important;}
.pr140{padding-right:140px!important;}
.pr150{padding-right:150px!important;}
.pr160{padding-right:160px!important;}
.pr170{padding-right:170px!important;}
.pr180{padding-right:180px!important;}
.pr190{padding-right:190px!important;}
.pr200{padding-right:200px!important;}

.pb0{padding-bottom:0!important;}
.pb2{padding-bottom:2px!important;}
.pb5{padding-bottom:5px!important;}
.pb10{padding-bottom:10px!important;}
.pb15{padding-bottom:15px!important;}
.pb20{padding-bottom:20px!important;}
.pb25{padding-bottom:25px!important;}
.pb30{padding-bottom:30px!important;}
.pb35{padding-bottom:35px!important;}
.pb40{padding-bottom:40px!important;}
.pb45{padding-bottom:45px!important;}
.pb50{padding-bottom:50px!important;}
.pb55{padding-bottom:55px!important;}
.pb60{padding-bottom:60px!important;}
.pb65{padding-bottom:65px!important;}
.pb70{padding-bottom:70px!important;}
.pb75{padding-bottom:75px!important;}
.pb80{padding-bottom:80px!important;}
.pb85{padding-bottom:85px!important;}
.pb90{padding-bottom:90px!important;}
.pb95{padding-bottom:95px!important;}
.pb100{padding-bottom:100px!important;}
.pb110{padding-bottom:110px!important;}
.pb120{padding-bottom:120px!important;}
.pb130{padding-bottom:130px!important;}
.pb140{padding-bottom:140px!important;}
.pb150{padding-bottom:150px!important;}
.pb160{padding-bottom:160px!important;}
.pb170{padding-bottom:170px!important;}
.pb180{padding-bottom:180px!important;}
.pb190{padding-bottom:190px!important;}
.pb200{padding-bottom:200px!important;}

.pl0{padding-left:0!important;}
.pl2{padding-left:2px!important;}
.pl5{padding-left:5px!important;}
.pl10{padding-left:10px!important;}
.pl15{padding-left:15px!important;}
.pl20{padding-left:20px!important;}
.pl25{padding-left:25px!important;}
.pl30{padding-left:30px!important;}
.pl35{padding-left:35px!important;}
.pl40{padding-left:40px!important;}
.pl45{padding-left:45px!important;}
.pl50{padding-left:50px!important;}
.pl55{padding-left:55px!important;}
.pl60{padding-left:60px!important;}
.pl65{padding-left:65px!important;}
.pl70{padding-left:70px!important;}
.pl75{padding-left:75px!important;}
.pl80{padding-left:80px!important;}
.pl85{padding-left:85px!important;}
.pl90{padding-left:90px!important;}
.pl95{padding-left:95px!important;}
.pl100{padding-left:100px!important;}
.pl110{padding-left:110px!important;}
.pl120{padding-left:120px!important;}
.pl130{padding-left:130px!important;}
.pl140{padding-left:140px!important;}
.pl150{padding-left:150px!important;}
.pl160{padding-left:160px!important;}
.pl170{padding-left:170px!important;}
.pl180{padding-left:180px!important;}
.pl190{padding-left:190px!important;}
.pl200{padding-left:200px!important;}

.p0{padding:0!important;}
.p2{padding:2px!important;}
.p5{padding:5px!important;}
.p10{padding:10px!important;}
.p15{padding:15px!important;}
.p20{padding:20px!important;}
.p25{padding:25px!important;}
.p30{padding:30px!important;}
.p35{padding:35px!important;}
.p40{padding:40px!important;}
.p45{padding:45px!important;}
.p50{padding:50px!important;}
.p55{padding:55px!important;}
.p60{padding:60px!important;}
.p65{padding:65px!important;}
.p70{padding:70px!important;}
.p75{padding:75px!important;}
.p80{padding:80px!important;}
.p85{padding:85px!important;}
.p90{padding:90px!important;}
.p95{padding:95px!important;}
.p100{padding:100px!important;}
.p110{padding:110px!important;}
.p120{padding:120px!important;}
.p130{padding:130px!important;}
.p140{padding:140px!important;}
.p150{padding:150px!important;}
.p160{padding:160px!important;}
.p170{padding:170px!important;}
.p180{padding:180px!important;}
.p190{padding:190px!important;}
.p200{padding:200px!important;}

.pv0{padding-top:0!important;padding-bottom:0!important;}
.pv2{padding-top:2px!important;padding-bottom:2px!important;}
.pv5{padding-top:5px!important;padding-bottom:5px!important;}
.pv10{padding-top:10px!important;padding-bottom:10px!important;}
.pv15{padding-top:15px!important;padding-bottom:15px!important;}
.pv20{padding-top:20px!important;padding-bottom:20px!important;}
.pv25{padding-top:25px!important;padding-bottom:25px!important;}
.pv30{padding-top:30px!important;padding-bottom:30px!important;}
.pv35{padding-top:35px!important;padding-bottom:35px!important;}
.pv40{padding-top:40px!important;padding-bottom:40px!important;}
.pv45{padding-top:45px!important;padding-bottom:45px!important;}
.pv50{padding-top:50px!important;padding-bottom:50px!important;}
.pv55{padding-top:55px!important;padding-bottom:55px!important;}
.pv60{padding-top:60px!important;padding-bottom:60px!important;}
.pv65{padding-top:65px!important;padding-bottom:65px!important;}
.pv70{padding-top:70px!important;padding-bottom:70px!important;}
.pv75{padding-top:75px!important;padding-bottom:75px!important;}
.pv80{padding-top:80px!important;padding-bottom:80px!important;}
.pv85{padding-top:85px!important;padding-bottom:85px!important;}
.pv90{padding-top:90px!important;padding-bottom:90px!important;}
.pv95{padding-top:95px!important;padding-bottom:95px!important;}
.pv100{padding-top:100px!important;padding-bottom:100px!important;}
.pv110{padding-top:110px!important;padding-bottom:110px!important;}
.pv120{padding-top:120px!important;padding-bottom:120px!important;}
.pv130{padding-top:130px!important;padding-bottom:130px!important;}
.pv140{padding-top:140px!important;padding-bottom:140px!important;}
.pv150{padding-top:150px!important;padding-bottom:150px!important;}
.pv160{padding-top:160px!important;padding-bottom:160px!important;}
.pv170{padding-top:170px!important;padding-bottom:170px!important;}
.pv180{padding-top:180px!important;padding-bottom:180px!important;}
.pv190{padding-top:190px!important;padding-bottom:190px!important;}
.pv200{padding-top:200px!important;padding-bottom:200px!important;}

.ph0{padding-right:0!important;padding-left:0!important;}
.ph2{padding-right:2px!important;padding-left:2px!important;}
.ph5{padding-right:5px!important;padding-left:5px!important;}
.ph10{padding-right:10px!important;padding-left:10px!important;}
.ph15{padding-right:15px!important;padding-left:15px!important;}
.ph20{padding-right:20px!important;padding-left:20px!important;}
.ph25{padding-right:25px!important;padding-left:25px!important;}
.ph30{padding-right:30px!important;padding-left:30px!important;}
.ph35{padding-right:35px!important;padding-left:35px!important;}
.ph40{padding-right:40px!important;padding-left:40px!important;}
.ph45{padding-right:45px!important;padding-left:45px!important;}
.ph50{padding-right:50px!important;padding-left:50px!important;}
.ph55{padding-right:55px!important;padding-left:55px!important;}
.ph60{padding-right:60px!important;padding-left:60px!important;}
.ph65{padding-right:65px!important;padding-left:65px!important;}
.ph70{padding-right:70px!important;padding-left:70px!important;}
.ph75{padding-right:75px!important;padding-left:75px!important;}
.ph80{padding-right:80px!important;padding-left:80px!important;}
.ph85{padding-right:85px!important;padding-left:85px!important;}
.ph90{padding-right:90px!important;padding-left:90px!important;}
.ph95{padding-right:95px!important;padding-left:95px!important;}
.ph100{padding-right:100px!important;padding-left:100px!important;}
.ph110{padding-right:110px!important;padding-left:110px!important;}
.ph120{padding-right:120px!important;padding-left:120px!important;}
.ph130{padding-right:130px!important;padding-left:130px!important;}
.ph140{padding-right:140px!important;padding-left:140px!important;}
.ph150{padding-right:150px!important;padding-left:150px!important;}
.ph160{padding-right:160px!important;padding-left:160px!important;}
.ph170{padding-right:170px!important;padding-left:170px!important;}
.ph180{padding-right:180px!important;padding-left:180px!important;}
.ph190{padding-right:190px!important;padding-left:190px!important;}
.ph200{padding-right:200px!important;padding-left:200px!important;}

.w100p{width:100%!important;}
.w90p{width:90%!important;}
.w80p{width:80%!important;}
.w75p{width:75%!important;}
.w70p{width:70%!important;}
.w60p{width:60%!important;}
.w50p{width:50%!important;}
.w40p{width:40%!important;}
.w30p{width:30%!important;}
.w25p{width:25%!important;}
.w20p{width:20%!important;}
.w10p{width:10%!important;}

.w0{width:0!important;}
.w5{width:5px!important;}
.w10{width:10px!important;}
.w15{width:15px!important;}
.w20{width:20px!important;}
.w25{width:25px!important;}
.w30{width:30px!important;}
.w35{width:35px!important;}
.w40{width:40px!important;}
.w45{width:45px!important;}
.w50{width:50px!important;}
.w55{width:55px!important;}
.w60{width:60px!important;}
.w65{width:65px!important;}
.w70{width:70px!important;}
.w75{width:75px!important;}
.w80{width:80px!important;}
.w85{width:85px!important;}
.w90{width:90px!important;}
.w95{width:95px!important;}
.w100{width:100px!important;}
.w110{width:110px!important;}
.w120{width:120px!important;}
.w130{width:130px!important;}
.w140{width:140px!important;}
.w150{width:150px!important;}
.w160{width:160px!important;}
.w170{width:170px!important;}
.w175{width:175px!important;}
.w180{width:180px!important;}
.w190{width:190px!important;}
.w200{width:200px!important;}
.w220{width:220px!important;}
.w240{width:240px!important;}
.w260{width:260px!important;}
.w280{width:280px!important;}
.w300{width:300px!important;}
.w350{width:350px!important;}
.w400{width:400px!important;}
.w450{width:450px!important;}
.w500{width:500px!important;}
.w600{width:600px!important;}
.w700{width:700px!important;}
.w800{width:800px!important;}
.w900{width:900px!important;}
.w1000{width:1000px!important;}
.wauto{width: auto !important;}


.h100p{height:100%!important;}
.h90p{height:90%!important;}
.h0{height:0!important;}
.h5{height:5px!important;}
.h10{height:10px!important;}
.h15{height:15px!important;}
.h20{height:20px!important;}
.h25{height:25px!important;}
.h30{height:30px!important;}
.h35{height:35px!important;}
.h40{height:40px!important;}
.h45{height:45px!important;}
.h50{height:50px!important;}
.h55{height:55px!important;}
.h60{height:60px!important;}
.h65{height:65px!important;}
.h70{height:70px!important;}
.h75{height:75px!important;}
.h80{height:80px!important;}
.h85{height:85px!important;}
.h90{height:90px!important;}
.h95{height:95px!important;}
.h100{height:100px!important;}
.h110{height:110px!important;}
.h120{height:120px!important;}
.h130{height:130px!important;}
.h135{height:135px!important;}
.h140{height:140px!important;}
.h150{height:150px!important;}
.h160{height:160px!important;}
.h170{height:170px!important;}
.h180{height:180px!important;}
.h190{height:190px!important;}
.h200{height:200px!important;}
.h220{height:220px!important;}
.h240{height:240px!important;}
.h260{height:260px!important;}
.h280{height:280px!important;}
.h300{height:300px!important;}
.h350{height:350px!important;}
.h400{height:400px!important;}
.h450{height:450px!important;}
.h500{height:500px!important;}
.h550{height:550px!important;}
.h600{height:600px!important;}
.h700{height:700px!important;}
.h800{height:800px!important;}
.hauto{height: auto !important;}

.font8{font-size:8px!important;}
.font9{font-size:9px!important;}
.font10{font-size:10px!important;}
.font11{font-size:11px!important;}
.font12{font-size:12px!important;}
.font13{font-size:13px!important;}
.font14{font-size:14px!important;}
.font15{font-size:15px!important;}
.font16{font-size:16px!important;}
.font17{font-size:17px!important;}
.font18{font-size:18px!important;}
.font19{font-size:19px!important;}
.font20{font-size:20px!important;}
.font21{font-size:21px!important;}
.font22{font-size:22px!important;}
.font23{font-size:23px!important;}
.font24{font-size:24px!important;}
.font25{font-size:25px!important;}
.font26{font-size:26px!important;}
.font27{font-size:27px!important;}
.font28{font-size:28px!important;}
.font29{font-size:29px!important;}
.font30{font-size:30px!important;}
.font31{font-size:31px!important;}
.font32{font-size:32px!important;}
.font33{font-size:33px!important;}
.font34{font-size:34px!important;}
.font35{font-size:35px!important;}
.font36{font-size:36px!important;}
.font37{font-size:37px!important;}
.font38{font-size:38px!important;}
.font39{font-size:39px!important;}
.font40{font-size:40px!important;}
.font50{font-size:50px!important;}
.font110{font-size:110px!important;}

.line8{line-height:8px!important;}
.line9{line-height:9px!important;}
.line10{line-height:10px!important;}
.line11{line-height:11px!important;}
.line12{line-height:12px!important;}
.line13{line-height:13px!important;}
.line14{line-height:14px!important;}
.line15{line-height:15px!important;}
.line16{line-height:16px!important;}
.line17{line-height:17px!important;}
.line18{line-height:18px!important;}
.line19{line-height:19px!important;}
.line20{line-height:20px!important;}
.line21{line-height:21px!important;}
.line22{line-height:22px!important;}
.line23{line-height:23px!important;}
.line24{line-height:24px!important;}
.line25{line-height:25px!important;}
.line26{line-height:26px!important;}
.line27{line-height:27px!important;}
.line28{line-height:28px!important;}
.line29{line-height:29px!important;}
.line30{line-height:30px!important;}
.line31{line-height:31px!important;}
.line32{line-height:32px!important;}
.line33{line-height:33px!important;}
.line34{line-height:34px!important;}
.line35{line-height:35px!important;}
.line36{line-height:36px!important;}
.line37{line-height:37px!important;}
.line38{line-height:38px!important;}
.line39{line-height:39px!important;}
.line40{line-height:40px!important;}

.z0{z-index: 0 !important;}
.z9{z-index: 9 !important;}
.z99{z-index: 99 !important;}
.z999{z-index: 999 !important;}
.z9999{z-index: 9999 !important;}
.z1neg{z-index: -1 !important;}

.fontnormal{font-weight:normal!important;}
.fontbold{font-weight:bold!important;}

.textstrikethrough{text-decoration:line-through!important;}
.textunderline{text-decoration:underline!important;}
.textnone{text-decoration:none!important;}
.textuppercase{text-transform:uppercase!important;}

.displaynone{display:none;}
.displayblock{display:block;}
.displayinline{display:inline;}
.displayinlineblock{display:inline-block;}

.positionrelative{position:relative!important;}
.positionabsolute{position:absolute!important;}
.positionstatic{position:static!important;}

.overflowhidden{overflow:hidden!important;}
.overflowscroll{overflow:scroll!important;}
.overflowauto{overflow:auto!important;}
.overflowxhidden{overflow-x:hidden!important;}
.overflowxscroll{overflow-x:scroll!important;}
.overflowxauto{overflow-x:auto!important;}
.overflowyhidden{overflow-y:hidden!important;}
.overflowyscroll{overflow-y:scroll!important;}
.overflowyauto{overflow-y:auto!important;}

.floatnone{float:none!important;}
.floatleft{float:left!important;}
.floatright{float:right!important;}

.clearnone{clear:none!important;}
.clearboth{clear:both!important;}
.clearleft{clear:left!important;}
.clearright{clear:right!important;}

.aligncenter{text-align:center!important;}
.alignjustify{text-align:justify!important;}
.alignleft{text-align:left!important;}
.alignright{text-align:right!important;}
.aligntop{vertical-align:top!important;}
.alignmiddle{vertical-align:middle!important;}
.alignbottom{vertical-align:bottom!important;}


.cursorpointer{cursor: pointer !important; }

.borderradius0{border-radius: 0 !important;}
.borderradius5{border-radius: 5px !important;}
.borderradius50{border-radius: 50% !important;}
.border0{border:0 !important;}

/*only for bootstrap navbar*/
.navbar-center{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
/*only for bootstrap navbar ends*/

.opacity0{	opacity: 0!important; }
.opacity10{	opacity: 0.1!important; }
.opacity20{	opacity: 0.2!important; }
.opacity30{	opacity: 0.3!important; }
.opacity40{	opacity: 0.4!important; }
.opacity50{	opacity: 0.5!important; }
.opacity60{	opacity: 0.6!important; }
.opacity70{	opacity: 0.7!important; }
.opacity80{	opacity: 0.8 !important; }
.opacity90{	opacity: 0.9!important; }
.opacity100{ opacity: 1 !important; }

.top0{
	top: 0 !important;
}

.left0{
	left: 0 !important;
}

.right0 {
    right: 0 !important;
 }

.center-me{

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


.text-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}